.gradle/
build/
app/build/
local.properties
*.apk
dist/
*.aab
*.keystore
*.jks
captures/
.idea/
*.iml
*.tmp
*.log
recordings/
*.m4a
*.wav
*.mp3
*.ogg
!app/src/main/res/raw/*.ogg
!app/src/main/res/raw/*.m4a
